/*
  main.css
*/

body {
  background-color: #484848;
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  overflow: auto;
  color: white;
}

a {
  cursor: hand;
}

a::selection {
  color: white;
  background-color: #2aabd2;
}

a:active {
  color: white;
}

.modal-fullscreen {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: rgba(46, 12, 46, 1);
  margin: 0;
  border: 0;
}

.modal-body {
  padding-top: 0;
}

.modal-footer{
  padding: 0;
}

.nav-brand {
  color: #d3d3d3;
  font-size: 150%;
  padding-bottom: 10px;
}

.select-topic {
  font-size: 130%;
  padding-top: 25px;
}

.header {
  color: white;
  overflow-y: auto;
  font-size: 120%;
}

.main {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.main-content {
  color: white;
}

.navbar-overlay {
  min-height: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow-y: visible;
}

.map {
  padding: 0;
  margin: 0;
}

.map-menu {
}

.map-display {
  height: 680px;
  width: 100%;
}

.table-div {
  max-height: 420px;
  width: 100%;
  margin-bottom: 5px;
  overflow-y: auto;
}

/*.table-fixed tbody {*/

/*display:block;*/

/*height:350px;*/

/*overflow:auto;*/

/*}*/

/*.table-fixed thead, .table-fixed tbody tr {*/

/*display:table;*/

/*width:100%;*/

/*table-layout:fixed;*/

/*}*/

/*.table-fixed thead {*/

/*width: 100%;*/

/*}*/

.search-dropdown {
  z-index: 100;
  overflow-y: auto;
}

.select-counties {
  color: #0f0f0f;
  width: 150px;
}

.select-counties option {
  color: #2b542c;
}

.navbar {
  -webkit-box-shadow: 0 2px 5px 1px rgba(46, 12, 46, 0.49);
  -moz-box-shadow: 0 2px 5px 1px rgba(46, 12, 46, 0.49);
  box-shadow: 0 2px 5px 1px rgba(46, 12, 46, 0.49);
}

.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-close span {
  font-size: 110%;
}

.navbar-collapse.collapse {
  display: none !important;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-nav {
  float: none !important;
}

.navbar-nav > li {
  float: none;
}

.nav-menu {
  text-align: center;
  padding-top: 5px;
}

.nav-menu > ul > li:active {
  background-color: #d3d3d3;
}

.nav-menu-content {
  overflow-y: scroll;
}

.imgs-range {
  padding-bottom: 5px;
  margin: 0;
}

.logo {
  background-color: white;
  margin: 0;
  padding: 0;
}

.loading {
  background: url('../assets/gears.svg') no-repeat center center;
}

.cow-img {
  background: url('../assets/img/cow.png');
}

.butn:hover {
  cursor: hand;
}

.butn span:first-child {
  font-size: 240%;
  color: #D3D3D3;
}

.back-btn {
  font-size: 200%;
  color: #D3D3D3;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.back-button {
  padding-top: 25px;
}

.more-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-dark-bg {
  color: white;
  background-color: rgba(0, 0, 0, .35);
  margin: 0;
  padding: 0;
}

/*================= CUSTOM CLASS STYLES =======================*/

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-0 {
  margin: 0;
}

.padding-bottom-16 {
  padding-bottom: 16px !important;
}

.padding-left-5 {
  padding-bottom: 5px !important;
}

.padding-0 {
  padding: 0 !important
}

.fixed {
  position: fixed !important;
}

.selected {
  background-color: #1b6d85;
  color: white;
}

.fullscreen {
  height: 100vh !important;
  width: 100vw !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.z-index-100 {
  z-index: 100 !important;
}

.section {
  margin-left: 20px;
  margin-right: 20px;
}

.center-vertical {
  margin-top: 25px;
  margin-bottom: 25px;
}

.font-medium {
  font-size: 150%;
}

.font-large {
  font-size: 200%;
}

.font-small {
  font-size: 130%;
}

.title {
  color: #d3d3d3;
}

.padding {
  padding: 15px;
}

/*===============================================================*/

/*======================== MEDIA QUERIES ==========================*/

/*-------------------------------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/*Larger Desktops*/

@media all and (min-width: 1280px) {
  .map-display {
    height: 900px;
    width: 100%;
  }

  .nav-menu {
    border-right: 1px solid #ffffff;
  }
}

/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/*Desktops*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .map-display {
    height: 720px;
    width: 100%;
  }

  .nav-menu {
    border-right: 1px solid #ffffff;
  }
}

/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/*Tablets landscape*/

@media all and (min-width: 768px) and (max-width: 1024px) {
  .map-display {
    height: 650px;
    width: 100%;
  }
}

/*Tablets*/

@media all and (min-width: 480px) and (max-width: 768px) {
  .map-display {
    height: 500px;
    width: 100%;
  }

  .logo {
    height: 80px;
    width: 100%;
  }
}

/*-------------------------------------------------------------------------*/

/*Mobiles landscape*/

@media all and (max-width: 480px) {
  .nav-menu {
    text-align: center;
    padding-top: 0;
  }

  .nav-menu-content {
  }

  .logo {
    height: 70px;
    width: 100%;
  }
}

/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/* Portrait */

@media screen and (orientation: portrait) {
  /* Portrait styles here */
}

/* Landscape */

@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/*-------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------*/

/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */

@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .map-display {
    height: 320px;
    width: 100%;
  }

  .nav-menu {
  }

  .main-content {
    font-size: small;
    /*max-height: 460px;*/
    /*overflow-y: scroll;*/
  }

  .table-div {
    max-height: 300px;
    overflow-y: auto;
  }
}

/* iPhone Landscape */

@media screen and (max-device-width: 480px) and (orientation: landscape) {
  .nav-menu {
    border-bottom: 1px solid #d9edf7;
  }

  .map-display {
    height: 300px;
    width: 100%;
  }
}

/* iPad Portrait */

@media screen and (min-device-width: 481px) and (orientation: portrait) {
}

/* iPad Landscape */

@media screen and (min-device-width: 481px) and (orientation: landscape) {
}

/*-------------------------------------------------------------------------*/