/* CSS Styles */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.menu-icon {
    left: 1%;
    top: 1%;
    font-size: 50px;
    color: #A9A9A9;
    position: fixed;
}

.menu-icon:hover {
    color: white;
}

.main {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 90%;
    top: 10%;
    position: relative;
    z-index: 1;
}

.map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    position: relative;
    float: right;
}

.county {
    background-color: #696969;
    position: relative;
    width: 100%;
    height: 5%;
    min-height: 5%;
}

.cntySel {
    background-color: #696969;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    border: 1px solid #696969;
    width: 40%;
    height: 100%;
    margin-left: 2%;
    position: relative;
}

#mapCanvas {
    padding: 0;
    margin: 0;
    height: 95%;
    width: 100%;
    position: relative;
    border-left: 1px solid #D3D3D3;
}

.left-region, .nav-main {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    background-color: #484848;
    color: white;
    font-family: 'PT Sans', sans-serif;
    overflow: auto;
}

.left-region a {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.heading, .menu-heading {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.description, #descMore, .menu-content {
    font-size: 18px;
    width: 75%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.read-btn {
    font-size: 18px;
    text-align: right;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.read-btn a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

.resultHead {
    text-align: center;
    font-size: 23px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    font-size: 16px;
    color: black;
    position: relative;
}

.table th {
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    position: relative;
}

.table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #e9e9e9;
}

.dlegend {
    padding: 3px;
}

.legend {
    width: 7%;
}

.table td {
    padding: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: black;
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #4682B4;
    border-radius: 15px;
    border: 3px solid black;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.menu-left {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    background-color: #484848;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.menu-right {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50%;
    float: right;
    position: relative;
    background-color: #484848;
    color: white;
    font-family: 'PT Sans', sans-serif;
    overflow: auto;
}

.menu {
    padding: 0;
    margin: 0;
    width: 100;
    height: 90%;
    top: 10%;
    position: relative;
}

.menu-list {
    font-size: 35px;
    width: 75%;
    padding-top: 20%;
    margin-left: auto;
    margin-right: auto;
}

.menu-list li {
    list-style-type: none;
    padding: 15px;
    text-align: center;
}

.menu-list a {
    color: white;
    text-decoration: none;
}

.menu-list a:hover {
    color: #D3D3D3;
    text-decoration: none;
}

.menu-list .selected {
    background-color: #696969;
    border-radius: 1px;
}

.menu-footer {
    width: 50%;
    position: fixed;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.menu-footer img {
    position: relative;
}

.menu-footer img:first-child {
    padding-right: 10%;
    left: 5%;
    width: 48%;
}

.menu-footer img:nth-child(2) {
    padding-left: 10%;
    right: 5%;
    width: 48%;
}

.nav-text {
    font-size: 25px;
    width: 75%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.instruct {
    font-size: 25px;
    width: 75%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.item-row {
    width: 70%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 70%;
    white-space: nowrap;
}

.item-row div:first-child {
    position: relative;
    left: 4%;
    float: left;
    width: 40%;
    text-align: center;
}

.item-row div:last-child {
    position: relative;
    right: 4%;
    float: right;
    width: 40%;
    text-align: center;
}

.item-row .glyphicon {
    position: relative;
    font-size: 400%;
    color: #D3D3D3;
    padding-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
}

.item-row .butn-text {
    position: relative;
    font-size: 140%;
    color: #D3D3D3;
    margin-left: auto;
    margin-right: auto;
}

.back-btn {
    padding: 2%;
    left: 5%;
    font-size: 30px;
    color: #D3D3D3;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    float: left;
    position: absolute;
}

.back-btn:hover {
    color: white;
}
